*{
    margin: 0;
    padding: 0;
}
div.container2{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 20px;
    left:20px

}
.screenshot2{
    width: 150px;
    height: 150px;
}

.screenshot_A{
      width: 200px;
      height: 150px;
      position: absolute;
      bottom:-260px;
      left:160px;
}
.choicearea{
    border: 2px solid;
    width:1100px;
    height: 500px;
    margin: 8% auto;
    border-radius:5px;
    position: relative;
    overflow: hidden;
}
.choicearea form{
    width: 1100px;
    top: 5px;
    position: absolute;
    transition: 0.5s;
}

div.container{
   position: absolute;
   width: 500px;
   height: 470px;
   left: 61%;
   bottom: 16%;

}
.screenshot{
   width: 400px;
   height: 100px;
   position: absolute;
   bottom:-220px;
   right:140px;
}

div.Option_B{
   background-color: white;
   color: #127;
   padding: 0.1rem 0.75rem;
   width: 330px;
   height: 200px;
   position: absolute;
   bottom:-430px;
   right:100px;
}

#instructions{
    width: 900px;
    height: 350px;
    top: 150px;
    left: 100px;
    position: absolute;
    transition: 0.5s;
}

#welcome{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    bottom: 75px;
    right:100px;
    

}

#finished{
    width: 900px;
    height: 350px;
    top: 150px;
    left: 100px;
    position: absolute;
    transition: 0.5s;
}

#Submit1{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    bottom: 75px;
    right:100px;
    

}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    left:900px; 
    top: 425px;
}

#Form1{
    left: 1500px;
 }

#Form2{
    left: 1500px;
 }

 #Form3{
    left: 1500px;
 }

 #Form4{
    left: 1500px;
 }

 #Form5{
    left: 1500px;
 }

 #Form6{
    left: 1500px;
 }

 #Form7{
    left: 1500px;
 }

 #Form8{
    left: 1500px;
 }

 #Form9{
    left: 1500px;
 }

 #Form10{
    left: 1500px;
 }

 #Form11{
    left: 1500px;
 }

 #Form12{
    left: 1500px;
 }

 #Form13{
    left: 1500px;
 }

 #Form14{
    left: 1500px;
 }

 #Form15{
    left: 1500px;
 }

#Form16{
    left: 1500px;
 }

#Form17{
    left: 1500px;
 }

 #Form18{
    left: 1500px;
 }

 #Form19{
    left: 1500px;
 }

 #Form20{
    left: 1500px;
 }

 #Form21{
    left: 1500px;
 }

 #Form22{
    left: 1500px;
 }

 #Form23{
    left: 1500px;
 }

 #Form24{
    left: 1500px;
 }

 #Form25{
    left: 1500px;
 }

 #Form26{
    left: 1500px;
 }

 #Form27{
    left: 1500px;
 }

 #Form28{
    left: 1500px;
 }

 #Form29{
    left: 1500px;
 }

 #Form30{
    left: 1500px;
 }

#Form31{
    left: 1500px;
 }

#Form32{
    left: 1500px;
 }

 #Form33{
    left: 1500px;
 }

 #Form34{
    left: 1500px;
 }

 #Form35{
    left: 1500px;
 }

 #Form36{
    left: 1500px;
 }

 #Form37{
    left: 1500px;
 }

 #Form38{
    left: 1500px;
 }

 #Form39{
    left: 1500px;
 }

 #Form40{
    left: 1500px;
 }

 #Form41{
    left: 1500px;
 }

 #Form42{
    left: 1500px;
 }

 #Form43{
    left: 1500px;
 }

 #Form44{
    left: 1500px;
 }

 #Form45{
    left: 1500px;
 }

#Form46{
    left: 1500px;
 }

#Form47{
    left: 1500px;
 }

 #Form48{
    left: 1500px;
 }

 #Form49{
    left: 1500px;
 }

 #Form50{
    left: 1500px;
 }

 #Form51{
    left: 1500px;
 }

 #Form52{
    left: 1500px;
 }

 #Form53{
    left: 1500px;
 }

 #Form54{
    left: 1500px;
 }

 #Form55{
    left: 1500px;
 }

 #Form56{
    left: 1500px;
 }

 #Form57{
    left: 1500px;
 }

 #Form58{
    left: 1500px;
 }

 #Form59{
    left: 1500px;
 }

 #Form60{
    left: 1500px;
 }

#finished{
    left: 1500px;
}


 .step-row{
    width: 1100px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow:0 -1px 5px -1px;
    position: relative;
}

.step-col{
    width: 73.33px;
    text-align: center;
    color: #333;
    position:relative;
}

#progress{
    position:absolute;
    height:100%;
    width:73.33px;
    background: linear-gradient(to right, #ff105f, #ffad06);   
}

#progress::after{
    content:'';
    height: 0;
    width: 0;
    border-top:20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left:20px solid #ffad06 ;
}
