
div.container2{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 20px;
    left:20%;

}
.screenshot2{
    width: 150px;
    height: 150px;
}


.choicearea{
    border: 2px solid;
    width:1100px;
    min-height: 500px;
    max-height: 1900px;
    margin: 10% auto;
    border-radius:5px;
    position: relative;
    overflow: hidden;
}
.choicearea form{
    width: 1100px;
    top: 5px;
    position: absolute;
    transition: 0.5s;
}

input[type='radio'] { 
   transform: scale(1.7); 
}
div.container{
   position: absolute;
   width: 500px;
   height: 470px;
   left: 61%;
   bottom: 16%;

}
.screenshot_A{
   width: 200px;
   height: 150px;
   position: absolute;
   bottom:-270px;
   left:195px;
}
.screenshot{
   width: 400px;
   height: 100px;
   position: absolute;
   bottom:-220px;
   right:140px;
}
.screenshot_B{
   width: 200px;
   height: 150px;
   position: absolute;
   bottom:-270px;
   right:160px;
}


.screenshot_betrayal{
   width: 221px;
   height: 180px;
   position: absolute;
   bottom:-255px;
   right:250px;
}

.screenshot_betrayal_up{
   width: 350px;
   height: 180px;
   position: absolute;
   bottom:-255px;
   right:170px;
}

.screenshot_betrayal_ineq{
   width: 400px;
   height: 180px;
   position: absolute;
   bottom:-255px;
   right:130px;
}

div.Option_B{
   background-color: white;
   color: #127;
   padding: 0.1rem 0.75rem;
   width: 360px;
   height: 200px;
   position: absolute;
   bottom:-430px;
   right:100px;
}

div.Option_B_betrayal{
   background-color: white;
   color: #127;
   padding: 0.1rem 0.75rem;
   width: 330px;
   height: 200px;
   position: absolute;
   bottom:-460px;
   right:100px;
}

#instructions{
    width: 900px;
    height: 600px;
    top: 65px;
    left: 80px;
    position: absolute;
    transition: 0.5s;
}

#welcome{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    left:800px; 
    top: 380px;
    

}

#finished{
    width: 900px;
    height: 350px;
    top: 150px;
    left: 100px;
    position: absolute;
    transition: 0.5s;
}

#instructions_belief{
    width: 1070px;
    height: 1850px;
    left: 300px;
    position: absolute;
    transition: 0.5s;
    margin: 4%;
}

#instructions_util{
   width: 1070px;
   height: 1850px;
   top: 65px;
   left: 80px;
   position: absolute;
   transition: 0.5s;
}

#instructions_ineq{
   width: 1070px;
   height: 1750px;
   top: 65px;
   left: 80px;
   position: absolute;
   transition: 0.5s;
}

#instructions_risk{
   width: 1070px;
   height: 1750px;
   top: 65px;
   left: 80px;
   position: absolute;
   transition: 0.5s;
}

#instructions_betrayal{
   width: 1070px;
   height: 1750px;
   top: 65px;
   left: 80px;
   position: absolute;
   transition: 0.5s;
}

#instructions_trust{
   width: 1000px;
   height: 1750px;
   left: 300px;
   position: absolute;
   transition: 0.5s;
   margin: 4%;
}



#Next_belief{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    left:930px; 
    bottom: 120px;
}

#Next_Util{
   width: 110px;
   height: 35px;
   margin: 0 10px;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border-radius: 30px;
   border: 0;
   outline: none;
   color:#fff;
   cursor: pointer;
   position:absolute;
   left:900px; 
   bottom: 340px;
}

#Next_Ineq{
   width: 110px;
   height: 35px;
   margin: 0 10px;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border-radius: 30px;
   border: 0;
   outline: none;
   color:#fff;
   cursor: pointer;
   position:absolute;
   left:900px; 
   bottom:100px;
}

#Next_Risk{
   width: 110px;
   height: 35px;
   margin: 0 10px;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border-radius: 30px;
   border: 0;
   outline: none;
   color:#fff;
   cursor: pointer;
   position:absolute;
   left:900px; 
   bottom: -70px;
}

#Next_betrayal{
   width: 110px;
   height: 35px;
   margin: 0 10px;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border-radius: 30px;
   border: 0;
   outline: none;
   color:#fff;
   cursor: pointer;
   position:absolute;
   left:900px; 
   bottom: -20px;
}

#Next_trust{
   width: 110px;
   height: 35px;
   margin: 0 10px;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border-radius: 30px;
   border: 0;
   outline: none;
   color:#fff;
   cursor: pointer;
   position:absolute;
   left:870px;
   bottom:50px;
}


#Submit1{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    bottom: 75px;
    right:100px;
    

}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
    position:absolute;
    left:900px; 
    top: 425px;
}

#Form1{
    left: 1500px;
 }

#Form2{
    left: 1500px;
 }

 #Form3{
    left: 1500px;
 }

 #Form4{
    left: 1500px;
 }

 #Form5{
    left: 1500px;
 }

 #Form6{
    left: 1500px;
 }

 #Form7{
    left: 1500px;
 }

 #Form8{
    left: 1500px;
 }

 #Form9{
    left: 1500px;
 }

 #Form10{
    left: 1500px;
 }

 #Form11{
    left: 1500px;
 }

 #Form12{
    left: 1500px;
 }

 #Form13{
    left: 1500px;
 }

 #Form14{
    left: 1500px;
 }

 #Form15{
    left: 1500px;
 }

#Form16{
    left: 1500px;
 }

#Form17{
    left: 1500px;
 }

 #Form18{
    left: 1500px;
 }

 #Form19{
    left: 1500px;
 }

 #Form20{
    left: 1500px;
 }

 #Form21{
    left: 1500px;
 }

 #Form22{
    left: 1500px;
 }

 #Form23{
    left: 1500px;
 }

 #Form24{
    left: 1500px;
 }

 #Form25{
    left: 1500px;
 }

 #Form26{
    left: 1500px;
 }

 #Form27{
    left: 1500px;
 }

 #Form28{
    left: 1500px;
 }

 #Form29{
    left: 1500px;
 }

 #Form30{
    left: 1500px;
 }

#Form31{
    left: 1500px;
 }

#Form32{
    left: 1500px;
 }

 #Form33{
    left: 1500px;
 }

 #Form34{
    left: 1500px;
 }

 #Form35{
    left: 1500px;
 }

 #Form36{
    left: 1500px;
 }

 #Form37{
    left: 1500px;
 }

 #Form38{
    left: 1500px;
 }

 #Form39{
    left: 1500px;
 }

 #Form40{
    left: 1500px;
 }

 #Form41{
    left: 1500px;
 }

 #Form42{
    left: 1500px;
 }

 #Form43{
    left: 1500px;
 }

 #Form44{
    left: 1500px;
 }

 #Form45{
    left: 1500px;
 }

#Form46{
    left: 1500px;
 }

#Form47{
    left: 1500px;
 }

 #Form48{
    left: 1500px;
 }

 #Form49{
    left: 1500px;
 }

 #Form50{
    left: 1500px;
 }

 #Form51{
    left: 1500px;
 }

 #Form52{
    left: 1500px;
 }

 #Form53{
    left: 1500px;
 }

 #Form54{
    left: 1500px;
 }

 #Form55{
    left: 1500px;
 }

 #Form56{
    left: 1500px;
 }

 #Form57{
    left: 1500px;
 }

 #Form58{
    left: 1500px;
 }

 #Form59{
    left: 1500px;
 }

 #Form60{
    left: 1500px;
 }

#Form61{
    left: 1500px;
 }

#Form62{
    left: 1500px;
 }

 #Form63{
    left: 1500px;
 }

 #Form64{
    left: 1500px;
 }

 #Form65{
    left: 1500px;
 }

 #Form66{
    left: 1500px;
 }

 #Form67{
    left: 1500px;
 }

 #Form68{
    left: 1500px;
 }

 #Form69{
    left: 1500px;
 }

 #Form70{
    left: 1500px;
 }

 #Form71{
    left: 1500px;
 }

 #Form72{
    left: 1500px;
 }

 #Form73{
    left: 1500px;
 }

 #Form74{
    left: 1500px;
 }

 #Form75{
    left: 1500px;
 }

#Form76{
    left: 1500px;
 }

#Form77{
    left: 1500px;
 }

 #Form78{
    left: 1500px;
 }

 #Form79{
    left: 1500px;
 }

 #Form80{
    left: 1500px;
 }

 #Form81{
    left: 1500px;
 }

 #Form82{
    left: 1500px;
 }

 #Form83{
    left: 1500px;
 }

 #Form84{
    left: 1500px;
 }

 #Form85{
    left: 1500px;
 }

 #Form86{
    left: 1500px;
 }

 #Form87{
    left: 1500px;
 }

 #Form88{
    left: 1500px;
 }

 #Form89{
    left: 1500px;
 }

 #Form90{
    left: 1500px;
 }

#Form91{
    left: 1500px;
 }

#Form92{
    left: 1500px;
 }

 #Form93{
    left: 1500px;
 }

 #Form94{
    left: 1500px;
 }

 #Form95{
    left: 1500px;
 }

 #Form96{
    left: 1500px;
 }

 #Form97{
    left: 1500px;
 }

 #Form98{
    left: 1500px;
 }

 #Form99{
    left: 1500px;
 }

 #Form100{
    left: 1500px;
 }

 #Form101{
    left: 1500px;
 }

 #Form102{
    left: 1500px;
 }

 #Form103{
    left: 1500px;
 }

 #Form104{
    left: 1500px;
 }

 #Form105{
    left: 1500px;
 }

#Form106{
    left: 1500px;
 }

 #Form107{
    left: 1500px;
 }

 #Form108{
    left: 1500px;
 }

 #Form109{
    left: 1500px;
 }

 #Form110{
    left: 1500px;
 }

 #Form111{
    left: 1500px;
 }

 #Form112{
    left: 1500px;
 }

 #Form113{
    left: 1500px;
 }

 #Form114{
    left: 1500px;
 }

 #Form115{
    left: 1500px;
 }

#Form116{
    left: 1500px;
 }

#Form117{
    left: 1500px;
 }

 #Form118{
    left: 1500px;
 }

 #Form119{
    left: 1500px;
 }

 #Form120{
    left: 1500px;
 }

 #Form121{
   left: 1500px;
}

#Form122{
   left: 1500px;
}

#Form123{
   left: 1500px;
}

#Form124{
   left: 1500px;
}

#Form125 {
   left: 1500px;
}

#Form126 {
   left: 1500px;
}

#Form127 {
   left: 1500px;
}

#Form128 {
   left: 1500px;
}

#Form129 {
   left: 1500px;
}

#Form130 {
   left: 1500px;
}

#Form131 {
   left: 1500px;
}

#Form132 {
   left: 1500px;
}

#Form133 {
   left: 1500px;
}

#Form134 {
   left: 1500px;
}

#Form135 {
   left: 1500px;
}

#Form136 {
   left: 1500px;
}

#Form137 {
   left: 1500px;
}

#Form138 {
   left: 1500px;
}

#Form139 {
   left: 1500px;
}

#Form140 {
   left: 1500px;
}

#Form141 {
   left: 1500px;
}

#Form142 {
   left: 1500px;
}

#Form143 {
   left: 1500px;
}

#Form144 {
   left: 1500px;
}

#Form145 {
   left: 1500px;
}

#Form146 {
   left: 1500px;
}

#Form147 {
   left: 1500px;
}

#Form148 {
   left: 1500px;
}

#Form149 {
   left: 1500px;
}

#Form150 {
   left: 1500px;
}

#Form151 {
   left: 1500px;
}

#Form152 {
   left: 1500px;
}

#Form153 {
   left: 1500px;
}

#Form154 {
   left: 1500px;
}

#Form155 {
   left: 1500px;
}

#Form156 {
   left: 1500px;
}

#Form157 {
   left: 1500px;
}

#Form158 {
   left: 1500px;
}

#Form159 {
   left: 1500px;
}

#Form160 {
   left: 1500px;
}

#Form161 {
   left: 1500px;
}

#Form162 {
   left: 1500px;
}

#Form163 {
   left: 1500px;
}

#Form164 {
   left: 1500px;
}

#Form165 {
   left: 1500px;
}

#Form166 {
   left: 1500px;
}

#Form167 {
   left: 1500px;
}

#Form168 {
   left: 1500px;
}

#Form169 {
   left: 1500px;
}

#Form170 {
   left: 1500px;
}

#Form171 {
   left: 1500px;
}

#Form172 {
   left: 1500px;
}

#Form173 {
   left: 1500px;
}

#Form174 {
   left: 1500px;
}

#Form175 {
   left: 1500px;
}

#Form176 {
   left: 1500px;
}

#Form177 {
   left: 1500px;
}

#Form178 {
   left: 1500px;
}

#Form179 {
   left: 1500px;
}

#Form180 {
   left: 1500px;
}

#Form181,
#Form182,
#Form183,
#Form184,
#Form185,
#Form186,
#Form187,
#Form188,
#Form189,
#Form190,
#Form191,
#Form192,
#Form193,
#Form194,
#Form195,
#Form196,
#Form197,
#Form198,
#Form199,
#Form200,
#Form201,
#Form202,
#Form203,
#Form204,
#Form205,
#Form206,
#Form207,
#Form208,
#Form209,
#Form210,
#Form211,
#Form212,
#Form213,
#Form214,
#Form215,
#Form216,
#Form217,
#Form218,
#Form219,
#Form220,
#Form221,
#Form222,
#Form223,
#Form224,
#Form225,
#Form226,
#Form227,
#Form228,
#Form229,
#Form230,
#Form231,
#Form232,
#Form233,
#Form234,
#Form235,
#Form236,
#Form237,
#Form238,
#Form239,
#Form240,
#Form241,
#Form242,
#Form243,
#Form244,
#Form245,
#Form246,
#Form247,
#Form248,
#Form249,
#Form250,
#Form251,
#Form252,
#Form253,
#Form254,
#Form255,
#Form256,
#Form257,
#Form258,
#Form259,
#Form260,
#Form261,
#Form262,
#Form263,
#Form264,
#Form265,
#Form266,
#Form267,
#Form268,
#Form269,
#Form270,
#Form271,
#Form272,
#Form273,
#Form274,
#Form275,
#Form276,
#Form277,
#Form278,
#Form279,
#Form280,
#Form281,
#Form282,
#Form283,
#Form284,
#Form285,
#Form286,
#Form287,
#Form288,
#Form289,
#Form290,
#Form291,
#Form292,
#Form293,
#Form294,
#Form295,
#Form296,
#Form297,
#Form298,
#Form299,
#Form300,
#Form301,
#Form302,
#Form303,
#Form304,
#Form305,
#Form306,
#Form307,
#Form308,
#Form309,
#Form310,
#Form311,
#Form312,
#Form313,
#Form314,
#Form315,
#Form316,
#Form317,
#Form318,
#Form319,
#Form320,
#Form321,
#Form322,
#Form323,
#Form324,
#Form325,
#Form326,
#Form327,
#Form328,
#Form329,
#Form330,
#Form331,
#Form332,
#Form333,
#Form334,
#Form335,
#Form336,
#Form337,
#Form338,
#Form339,
#Form340,
#Form341{
   left: 1500px;
}



#finished{
    left: 1500px;
}

#instructions_belief{
    left: 1500px;
 }

 #instructions_util{
   left: 1500px;
 }

 #instructions_ineq{
   left: 1500px;
 }

 #instructions_risk{
   left: 1500px;
 }

 #instructions_betrayal{
   left: 1500px;
 }

 #instructions_trust{
   left: 1500px;
 }





